<app-home></app-home>
<h3>Reservation List</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Guest Name</th>
            <th scope="col">Guest Email</th>
            <th scope="col">Room Number</th>
            <th scope="col">Check-in Date</th>
            <th scope="col">Check-out Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations; index as i">
            <th scope="row">{{i + 1}}</th>
            <td> {{ reservation.guestName}}</td>
            <td>{{ reservation.guestEmail}}</td>
            <td> {{ reservation.roomNumber}}</td>
            <td>{{ reservation.checkInDate}}</td>
            <td>{{ reservation.checkOutDate}}</td>
            <td> <button class="btn btn-danger mx-1" (click)="deleteReservation(reservation.id)">X</button>
                <button class="btn btn-warning mx-1" [routerLink]="['/edit/',reservation.id]">Edit</button>
            </td>
        </tr>
    </tbody>
</table>


<ng-template #noReservation>
    <p>No reservation available</p>
</ng-template>